.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 7%;
    transition: 1s;
}

.logo{
    width: 160px;
    cursor: pointer;
}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
  
ul li:hover {
    opacity: 0.5; /* Làm chữ mờ đi khi di chuột vào */
}
  

.toggle-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

.search-box{
    display: flex;
    align-items: center;
    background: #00021ddd;
    padding: 5px 20px;
    border-radius: 40px;
}
.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 15px;
    max-width: 200px;
}
.search-box input::placeholder{
    color: #fff;
}
.search-box img{
    width: 20px;
    cursor: pointer;
}
.dark .navbar{
    background: #00021ddd;
    color: #fff;
}
.dark .search-box{
    background: #fff;
}
.dark .search-box input{
    color: #222;
}
.dark .search-box input::placeholder{
    color: #222;
}

.register-button {
    margin-left: 60px;
    padding: 5px 20px;
    font-size: 15px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent; /* Làm cho nền trong suốt */
    color: var(--button-text);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
  }

  .login-button {
    margin-left: 15px;
    padding: 5px 10px;
    font-size: 15px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent; /* Làm cho nền trong suốt */
    color: var(--button-text);
    transition: box-shadow 0.3s ease, background-color 0.8s ease;
  }
  
  .login-button:hover, .register-button:hover {
    background-color: rgba(6, 20, 36, 0.1); /* Tùy chọn: thêm màu nền khi di chuột */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.6;
  }