.course-detail-layout {
    background: #f0f2f5;
    padding: 24px;
  }

.darkBody{
  background: #161f3e;
}
.dark .navbar{
  background: #0a112b;
}
  
  .course-detail-content {
    max-width: 1200px;
    margin: auto;
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .course-header {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .course-title {
    color: #fff;
    padding: 16px;
    border-radius: 8px;
  }
  
  .course-short-description {
    display: block;
    margin: 16px 0;
    font-size: 16px;
  }
  
  .course-dates {
    margin: 16px 0;
  }
  
  .course-date {
    display: block;
    font-size: 16px;
  }
  
  .enroll-button {
    margin-top: 16px;
  }
  
  .course-detail-info .ant-card {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .ant-menu-horizontal {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
  
  .ant-menu-horizontal > .ant-menu-item {
    font-size: 16px;
    padding: 0 20px;
  }

 .course-detail-info img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  /* CSS cho danh sách chương học */
.chapter-list {
  list-style-type: none; /* Loại bỏ dấu chấm đầu mục */
  padding: 0; /* Loại bỏ khoảng cách bên trong */
  margin: 0; /* Loại bỏ khoảng cách bên ngoài */
  display: flex;
  flex-direction: column;
}

.chapter-items {
  left: 0;
  margin-bottom: 10px; /* Khoảng cách giữa các mục */
  padding: 10px; /* Khoảng cách bên trong */
  border-left: 4px solid #1890ff; /* Đường viền bên trái */
  padding-left: 15px; /* Khoảng cách từ văn bản đến đường viền */
  font-size: 16px; /* Kích thước chữ */
  color: #333; /* Màu chữ */
  text-align: left;
}
