/* Sidebar.module.css */

@keyframes right {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sidebar {
    height: 100%;
    opacity: 0;
    animation: right 1s forwards;
    background: #fff;
}

.logoGpt {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a112b;
    cursor: pointer;
    padding-top: 30px;
    background: #fff;
}

.dark .logoGpt {
    color: #fff;
    background: #0a112b;
}
.dark .menuItemWrapper {
    color: #fff;
}
  

.logoIcon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    border-radius: 50%;
    background: #fff;
}

.dark .logoIcon {
    background: #0a112b;
}

.menu {
    height: 85vh;
    min-height: 86.3vh;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
}

.toggleBtn {
    bottom: 30px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-bottom: 20px;
    background: #fff;
}
.toggleBtn Button{
    border: 1px solid #0a112b;
}
.dark .toggleBtn Button {
    color: #fff;
    background: #0a112b;
    border: 1px solid #fff;
}
.dark .toggleBtn{
    background: #0a112b;
}
.header{
    padding: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dark{
    background: #0a112b;
}
.avatar{
    background-color: #0a112b;
    color: #fff;
    margin-right: 10px; 
    border: 1px solid #fff;
    cursor: pointer;
}
.button{
    color: #0a112b;
}
.darkButton{
    color: #fff;
}
.darkButton:hover{
    color: aliceblue;
}

/* Ghi đè thuộc tính flex: auto với độ ưu tiên cao hơn */
.sidebar .ant-menu-title-content {
    flex: 0 1 !important; /* Hoặc flex: 0 1 auto; tùy thuộc vào nhu cầu của bạn */
    left: 0;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content, 
:where(.css-dev-only-do-not-override-1pg9a38).ant-menu-inline.ant-menu-root .ant-menu-submenu-title > .ant-menu-title-content {
    flex: auto !important;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menuItemWrapper {
    display: inline-block; /* Đảm bảo không sử dụng flex để giãn */
    text-align: left; /* Căn chữ về bên trái */
    width: 100%; /* Đảm bảo phần tử bao hết chiều rộng */
    padding-left: 5px; /* Nếu muốn loại bỏ padding mặc định */
    font-weight:normal;
  }
  
  .ant-menu-item, .ant-menu-submenu-title {
    padding-left: 24px; /* Điều chỉnh padding theo ý muốn để căn chữ */
    text-align: left;
    font-weight: bold;
  }
  .header {
    opacity: 0;
    animation: right 1s forwards;
  }
  
  

