*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Topbar css */
.container{
  width: 100vw;
  min-height: 100vh;
  background: #eff2f9;
  transition: 1s;
}
.container.dark{
  background: #161f3e;
}

/* Sidebar CSS */