*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Topbar css */
.container{
  width: 100vw;
  min-height: 100vh;
  background: #ced8ff;
  transition: 1s;
}
.container.dark{
  background: #0f074896;
}

/* Sidebar CSS */
.sidebar{
  color: #fff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
}